<!DOCTYPE html>
<html lang="en">
  <head>
  <title>LeftOverFood </title>
  <meta charset="utf-8">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
  </script>
  <![endif]-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/about-us.css">          
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img alt="Brand" src="images/logo.png">
            </a>
            <h1>Left Over Food</h1>            
          </div>         
            <ul class="nav nav-pills text-center">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/aboutus">About Us</a><li> 
              <li><a href="/donor">Donate</a></li>              
              <li><a href="/volunteer">Volunteer</a></li>
              <li><a href="/login">Login</a></li>  
              <li><a href="/reward">Reward</a><li>
              <li><a href="/faq">FAQ</a><li>               
              <li><a href="/feedback">FeedBack</a></li>  
                                       
            </ul>
        </div> 
      </nav>
    </header>
    <section>
      <div class="container-fluid">
              <div class="row one">
                            <div class="col-sm-4">
                              <img src="images/10.jpg" alt="The Pulpit Rock">
              </div>
              <div class="col-sm-4">
              <h1>Our Mission:</h1>
<p>
LeftOverFood connects people and businesses with excess edible food to feed those in need, instantly.
Our platform uses technology(Twiiter) to streamline the process of food recovery and distribution, giving businesses and Individuals the power to fight hunger and food waste within minutes.</p>
              </div>
                            <div class="col-sm-4">
                              <img src="images/11.jpg" alt="The Pulpit Rock">
              </div>
              </div>
              <div class="row">
                            <div class="col-sm-12 two" >
              <h1>Our Team</h1>
              <ul>
              <li>
               <figure>
  <img src="images/1.png" alt="The Pulpit Rock">
  <figcaption>Suman</figcaption>
</figure> 
              </li>
                            <li>
               <figure>
  <img src="images/2.png" alt="The Pulpit Rock">
  <figcaption>Surabhi</figcaption>
</figure> 
              </li>
                            <li>
               <figure>
  <img src="images/3.png" alt="The Pulpit Rock">
  <figcaption>Vijay</figcaption>
</figure> 
              </li>
              </ul>
              </div>
              </div>
              <div class="row">

                            <div class="col-sm-12 three">
                            <h1>Our Advisor</h1>
                                          <li>
               <figure>
  <img src="images/4.png" alt="The Pulpit Rock">
  <figcaption>Prof. Ranjan</figcaption>
</figure> 
              </li>
              </div>
              </div>
      </div>             
    </section> 
       
    <footer class="text-center">
    <h2>
      &copy; 2015 LeftOverFood. All rights reserved.
    </footer>
  </body>
</html>