<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Left Over Food</title>
  <meta charset="utf-8">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
  </script>
  <![endif]-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/tasks.css">          
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img alt="Brand" src="images/logo.png">
            </a>
            <h1>LeftOverFood</h1>            
          </div>         
            <ul class="nav nav-pills text-center">
                 <li class="active"><a href="/">Home</a></li>
              <li><a href="/aboutus">About Us</a><li> 
              <li><a href="/donor">Donate</a></li>              
              <li><a href="/volunteer">Volunteer</a></li>
              <li><a href="/login">Login</a></li>  
              <li><a href="/reward">Reward</a><li>
              <li><a href="/faq">FAQ</a><li>               
              <li><a href="/feedback">FeedBack</a></li>                            
            </ul>
        </div> 
      </nav>
    </header>
    <section>
      <div class="container-fluid">
      	<div class="row">
      	<div class="col-sm-12">
      	<h1>Choose reward </h1>
      	<table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Reward Name</th>
          <th>Reward Description</th>
          <th>coupon Code</th>
          <th>Message</th>          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>IMax Cinemas</td>
          <td>Enjoy your precious time at the nearest Imax cinema</td>
          <td>PK890</td>
          <td>credit of 8 $ applied </td>
           <td><button type="button" class="btn btn-success">Add</button>   </td>       
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Indian Grocery Outlet</td>
          <td>Enjoy the blend of spices and aroma</td>
          <td>IK890</td>
          <td>credit of 10 $ applied</td>
          <td><button type="button" class="btn btn-success">Add</button>   </td>       
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Italiano pizza </td>
          <td>Great pizzas for great times</td>
          <td>JK890</td>
          <td>credit of 10 $ applied</td>
          <td><button type="button" class="btn btn-success">Add</button>   </td>            
        </tr>
      </tbody>
    </table>
      	</div>
      	</div>
      </div>            
    </section>    
    <footer class="text-center">
    <h2>
      &copy; 2015 LeftOverFood. All rights reserved.
    </footer>
  </body>
</html>