<!DOCTYPE html>
<html lang="en">
  <head>
  <title>LeftOverFood </title>
  <meta charset="utf-8">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
  </script>
  <![endif]-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/faq.css">          
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img alt="Brand" src="images/logo.png">
            </a>
            <h1>Left Over </h1>            
          </div>         
            <ul class="nav nav-pills text-center">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/aboutus">About Us</a><li> 
              <li><a href="/donor">Donate</a></li>              
              <li><a href="/volunteer">Volunteer</a></li>
              <li><a href="/login">Login</a></li>  
              <li><a href="/reward">Reward</a><li>
              <li><a href="/faq">FAQ</a><li>               
              <li><a href="/feedback">FeedBack</a></li>                             
            </ul>
        </div> 
      </nav>
    </header>
    <section>
      <div class="container-fluid">
              <div class="row">
              
              <div class="col-sm-12">
                  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Where is LeftOverFood currently operating?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>LeftOverFood currently operates in San Jose. Send us an email atLeftOverFood@gmail.com if you want us to come to your city next!</p>
                </div>
            </div>
        </div>
              </div>
              
              
              <div class="col-sm-12">
                  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. What is "food insecurity"?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The World Food Summit of 1996 defined food security as existing "when all people at all times have access to sufficient, safe, nutritious food to maintain a healthy and active life". Commonly, the concept of food security is defined as including both physical and economic access to food that meets people's dietary needs as well as their food preferences. In many countries, health problems related to dietary excess are an ever increasing threat. In fact, malnutrition and food borne diarrhea are becoming a double burden.

Food security is built on three pillars:

Food availability: sufficient quantities of food available on a consistent basis.
Food access: having sufficient resources to obtain appropriate foods for a nutritious diet.
Food use: appropriate use based on knowledge of basic nutrition and care, as well as adequate water and sanitation.
Food security is a complex sustainable development issue, linked to health through malnutrition, but also to sustainable economic development, environment, and trade. There is a great deal of debate around food security with some arguing that:

There is enough food in the world to feed everyone adequately; the problem is distribution.
Future food needs can - or cannot - be met by current levels of production.
National food security is paramount - or no longer necessary because of global trade.
Globalization may - or may not - lead to the persistence of food insecurity and poverty in rural communities.
Issues such as whether households get enough food, how it is distributed within the household and whether that food fulfills the nutrition needs of all members of the household show that food security is clearly linked to health..</p>
                </div>
            </div>
        </div>
              </div>              
              
          
          <div class="col-sm-12">
                  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. Can businesses be held liable for food donations?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The Federal "Good Samaritan Act" signed by President Clinton in 1996 takes away liability from businesses that donate food in good faith that it is safe to be served. (PUBLIC LAW 104–210—OCT. 1, 1996 110 STAT. 3011)</p>
                </div>
            </div>
        </div>
              </div>   
              
              
              <div class="col-sm-12">
                  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">4. Are food donations tax deductible?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Yes. C Corporations can deduct the lesser of half of gross profit (loss) or base cost of donated food from their taxable income (IRC Section 170). Non C entities follow same formula, but total yearly deductions cannot exceed 10% of their annual income ((HR8) (Public Law 112-240)).</p>
                </div>
            </div>
        </div>
              </div>              
          
          <div class="col-sm-12">
                  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">5. Do the people receiving food need smartphones or the Feeding Forward mobile application?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>No. Recipient agencies only need cell phones with text messaging capabilities.</p>
                </div>
            </div>
        </div>
              </div>              
          
          <div class="col-sm-12">
                  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">6. Do Volunteers that pick-up and drop-off food need smartphones or the Feeding Forward mobile application?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Yes. Volunteers need smart phones with Internet.</p>
                </div>
            </div>
        </div>
              </div>              
          
          <div class="col-sm-12">
                  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">7. How many people who experience food insecurity actually own cell phones?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>According to the United States Census Bureau, over 70% of Americans living in poverty own cell phones. Additionally, there is a Federal program called "SafeLink" that provides Americans living on food stamp assistance with free cell phones and plans that include SMS capabilities.</p>
                </div>
            </div>
        </div>
              </div>              
          
          
          <div class="col-sm-12">
                  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">8. Does the business or organization requesting a food pick-up need to provide carry-out containers and package the food into individual servings?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The business/organization is responsible for the packaging of the food. They do not need to package food into individual servings. Packaging must be sealable, such as the round plastic containers used at delis, a plastic clamshell sealed with a label, a soup cup with a lid free of holes, or food grade paper wraps for sandwiches sealed with labels.</p>
                </div>
            </div>
        </div>
              </div>              
          
          
          <div class="col-sm-12">
                  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">9. If my business requests a food pick-up through Leftoverfood platform, is it guaranteed to be picked up?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Due to logistical constraints (mainly the number of volunteers during late evenings, the distance between the food source and the recipient agency’s location, food safety concerns, and volume of requests posted on our network in a period of time) we cannot guarantee an immediate pick-up in every circumstance. If this is the case, you will be notified directly after you submit a request for a pick-up, and if you are able to freeze the food, we are happy to pick it up at a later time.</p>
                </div>
            </div>
        </div>
              </div>              
          
          
 
                     
          
              
              </div>
      </div>             
    </section> 
       
    <footer class="text-center">
    <h2>
      &copy; 2015 LeftOverFood . All rights reserved.
    </footer>
  </body>
</html>