<!DOCTYPE html>
<html lang="en">
  <head>
  <title>LeftOverFood</title>
  <meta charset="utf-8">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
  </script>
  <![endif]-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/feedback.css">          
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img alt="Brand" src="images/logo.png">
            </a>
            <h1>Left Over Swap</h1>            
          </div>         
            <ul class="nav nav-pills text-center">
              <li><a href="/">Home</a></li>
              <li><a href="/aboutus">About Us</a><li> 
              <li><a href="/donor">Donate</a></li>              
              <li><a href="/volunteer">Volunteer</a></li>
              <li><a href="/login">Login</a></li>  
              <li><a href="/reward">Reward</a><li>
              <li><a href="/faq">FAQ</a><li>               
              <li class="active"><a href="/feedback">FeedBack</a></li>                            
            </ul>
        </div> 
      </nav>
    </header>
        <section>
      <div class="container-fluid">
      <div class="row">
      <div class="col-sm-12">
      <form role="form">
      <p>1. Overall, how well does our website meet your needs?</p>
    <div class="radio">
      <label><input type="radio" name="optradio">Extremely well</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Very well</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="optradio">Moderatley Well</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="optradio">Not so well</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="optradio">Not at all well</label>
    </div>
    <p>2. How easy was it to find what you were looking for on our website?</p>
    <div class="radio">
      <label><input type="radio" name="optradio">Extremely well</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Very easy</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="optradio">Moderatley easy</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="optradio">Not so easy</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="optradio">Not at all easy</label>
    </div>
    <p>3. Did it take you more or less time than you expected to find what you were looking for on our website?</p>
    <div class="radio">
      <label><input type="radio" name="optradio">A lot less time</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">A little less time</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="optradio">About what I expected</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="optradio">A little more time</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="optradio">A lot more time</label>
    </div>
  </form>
      
      </div
</div>
</div>
</section>
    <footer class="text-center">
    <h2>
      &copy; 2015 LeftOverFood. All rights reserved.
    </footer>
  </body>
</html>