<html>
<head>

<link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body>
<p> start page!! hi welcome </p>
<form method="post" >

<button class="btn" type="submit" formaction="/donor">Donor</button>
<button class="btn" type="submit" formaction="/volunteer">Volunteer</button>

</form>
</body>


</html>
